.tab-1 { margin-left: 2ch; }
.tab-2 { margin-left: 4ch; }
.tab-3 { margin-left: 6ch; }

.code-line {
    display: block;  
    white-space: pre;  
    word-wrap: break-word; 
}

.code-row {
    white-space: nowrap;
    display: flex;
  }

.code-comment {
    color: rgb(20, 143, 57);  
}

.code-function {
    color: rgb(231, 211, 25);  
}

.code-vartype {
    color: rgb(31, 102, 196);  
}

.code-bracket-outer {
    color: rgb(149, 29, 230);  
}

.code-bracket-inner-1{
    color: rgb(31, 102, 196);  
}

.code-bracket-inner-2{
    color: rgb(255, 234, 49);  
}

.code-d {
    color: rgb(63, 129, 216);  
}

.code-n {
    color: rgb(248, 164, 67);  
}

.code-value {
    color: rgb(43, 224, 67);  
}

.code-quotes{
    color: rgb(238, 146, 40);  
}